include menubar
html
	head
		title Home
		
		link(href='/css/normalize.css', rel='stylesheet')
		style.
			
			.c {
				background-color: #F0FFFF;
			}
			.h{
			  font-size: 200%;
			}
			.f {
			  font-family: "Times New Roman", Times, serif;
			}
			.text{
			  margin: auto;
			  width: 20%;
			  padding: 10px;
			}
			.center {
			  
			  margin: auto;
			  width: 60%;
			  border: 3px solid black;
			  padding: 10px;
			}
			
			.bt{
				width: 200;
				font-size: 115%;
				background-color: #B0C4DE; 
				
			}
			
body
	br
	br
	br
	div(style='text-align: center;')
		img(src='kpitlogo.png' width= '600' height= '200')
	div.center.c
		
		table(style = 'background-color = #9370DB;')
			
			tr
				th.h.f Improve Your DevOps Capability
				br
			tr
				td
					br
					p(style = 'text-align: center;') This online DevOps Maturity Assessment questionnaire will help you understand your current strengths and weaknesses and then recommend resources that can support you in taking the next steps on your DevOps journey.
		div.text.f
			br
			<a href="/Questionaire"><button class = "bt" style = "background-color: #B0C4DE"> Start Questionnaire </button></a>
	
					
					
					
		
