include menubar
html
	head
		title user
		link(href='/css/normalize.css', rel='stylesheet')
		style.
			.center {
			  text-align: center;
			}
			.bt{
				width: 100;
				font-size: 125%;
				background-color: #B0C4DE; 
				font-weight: bold;
				font-family: "Times New Roman", Times, serif;
			}
			
	body
		div.center
			P
			| Welcome to DevOps Maturity Assessment
			br
			br
			br
			<a href="http://localhost:8000/SignUp"><button class = "bt" style = "background-color: #B0C4DE"> Sign Up </button></a>
			<a href="http://localhost:8000/Login"><button class = "bt" style = "background-color: #B0C4DE"> Sign In </button></a>
	
			